body{
    margin: 0px;
    padding: 0px;
    background-color: #261447;
}


.card{
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 40%;
    height: auto;
    width: 20%;
    background-color: white;
    text-align: center;
    border-radius: 5%;
}


.input{
    margin-left: 43%;
}

.textField{
    margin-top: 2%;
}

.username{
    margin-left: 45%;
    color: #dbd8f0;

}.username h1{
    margin-left: 3%;
}

.username img{
    border-radius: 50%;
    margin-left: 5%;
}

.login{
    margin-left: 43%;
    margin-top: 10%;
    color: #dbd8f0;
}

.login button{
    margin: 5px;
}

.enter{
    margin-left: 44%;
}